<!DOCTYPE html>
<html lang="en" ng-app="Tic-Tac-ToeApp">
<head>
  <meta charset="UTF-8">
  <title>PeerJS - Video chat example</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.js"></script>
  <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
  <script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
  <script type="text/javascript" src="https://www.firebase.com/resources/tutorial/js/libs/idle.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../../dist/peer.js"></script>
  <script>
  // Compatibility shim
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
  // PeerJS object
  var peer = new Peer({ key: 'lwjd5qra8257b9', debug: 3});
  peer.on('open', function(){
    $('#my-id').text(peer.id);
  });
  // Receiving a call
  peer.on('call', function(call){
    // Answer the call automatically (instead of prompting user) for demo purposes
    call.answer(window.localStream);
    step3(call);
  });
  peer.on('error', function(err){
    alert(err.message);
    // Return to step 2 if error occurs
    step2();
  });
  // Click handlers setup
  $(function(){
    $('#make-call').click(function(){
      // Initiate a call!
      var call = peer.call($('#callto-id').val(), window.localStream);
      step3(call);
    });
    $('#end-call').click(function(){
      window.existingCall.close();
      step2();
    });
    // Retry if getUserMedia fails
    $('#step1-retry').click(function(){
      $('#step1-error').hide();
      step1();
    });
    // Get things started
    step1();
  });
  function step1 () {
    // Get audio/video stream
    navigator.getUserMedia({audio: true, video: true}, function(stream){
      // Set your video displays
      $('#my-video').prop('src', URL.createObjectURL(stream));
      window.localStream = stream;
      step2();
    }, function(){ $('#step1-error').show(); });
  }
  function step2 () {
    $('#step1, #step3').hide();
    $('#step2').show();
  }
  function step3 (call) {
    // Hang up on an existing call if present
    if (window.existingCall) {
      window.existingCall.close();
    }
    // Wait for stream on the call, then set peer video display
    call.on('stream', function(stream){
      $('#their-video').prop('src', URL.createObjectURL(stream));
    });
    // UI stuff
    window.existingCall = call;
    $('#their-id').text(call.peer);
    call.on('close', step2);
    $('#step1, #step2').hide();
    $('#step3').show();
  }
  </script>

</head>

<body>

  <div class="pure-g">

    <!-- Video area -->
    <div class="pure-u-2-3" id="video-container">
      <video id="their-video" autoplay></video>

      <div>
        <div style="width: 50%; float: left">
          <video id="my-video" muted="true" autoplay></video>
        </div>

        <div style="width: 50%; float: right">
          <h2>PeerJS Video Chat</h2>

          <!-- Get local audio/video stream -->
          <div id="step1">
            <p>Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.</p>
            <div id="step1-error">
              <p>Failed to access the webcam and microphone. Make sure to run this demo on an http server and click allow when asked for permission by the browser.</p>
              <a href="#" class="pure-button pure-button-error" id="step1-retry">Try again</a>
            </div>
          </div>

          <!-- Make calls to others -->
          <div id="step2">
            <p>Your id: <span id="my-id">...</span></p>
            <p>Share this id with others so they can call you.</p>
            <h3>Make a call</h3>
            <div class="pure-form">
              <input type="text" placeholder="Call user id..." id="callto-id">
              <a href="#" class="pure-button pure-button-success" id="make-call">Call</a>
            </div>
          </div>

          <!-- Call in progress -->
          <div id="step3">
            <p>Currently in call with <span id="their-id">...</span></p>
            <p><a href="#" class="pure-button pure-button-error" id="end-call">End call</a></p>
          </div>

          <div id="presenceDiv" class="l-demo-container example-base" ng-controller="PresenceController"></div>
        </div>
      </div>
    </div>

    <!-- Steps -->
    <div class="pure-u-1-3">

      <div ng-controller="TicTacToeController">
        <a href ng-click="board.showTicTacToe = !board.showTicTacToe" ng-hide="board.showTicTacToe">Show Tic-Tac-Toe</a>
        <a href ng-click="board.showTicTacToe = !board.showTicTacToe" ng-show="board.showTicTacToe">Hide Tic-Tac-Toe</a>
        <div ng-show="board.showTicTacToe">
          <h1>Firebase Tic-Tac-Toe</h1>
          <form>
            <table>
              <tr>
                <td><input id="input1a" type="text" ng-click="sq1a()" class="square" ng-model="board.sq1a"></input></td>
                <td><input id="input1b" type="text" ng-click="sq1b()" class="square" ng-model="board.sq1b"></input></td>
                <td><input id="input1c" type="text" ng-click="sq1c()" class="square" ng-model="board.sq1c"></input></td>
              </tr>
              <tr>
                <td><input id="input2a" type="text" ng-click="sq2a()" class="square" ng-model="board.sq2a"></input></td>
                <td><input id="input2b" type="text" ng-click="sq2b()" class="square" ng-model="board.sq2b"></input></td>
                <td><input id="input2c" type="text" ng-click="sq2c()" class="square" ng-model="board.sq2c"></input></td>
              </tr>
              <tr>
                <td><input id="input3a" type="text" ng-click="sq3a()" class="square" ng-model="board.sq3a"></input></td>
                <td><input id="input3b" type="text" ng-click="sq3b()" class="square" ng-model="board.sq3b"></input></td>
                <td><input id="input3c" type="text" ng-click="sq3c()" class="square" ng-model="board.sq3c"></input></td>
              </tr>
            </table>
          </form>
          <h1 class="winner" ng-click="newGame()">{{board.winner}}</h1>
        </div>
      </div>

      <div ng-controller="CBMTController" class="cbmt">
        <a href ng-click="board.showCBMT = !board.showCBMT" ng-hide="board.showCBMT">Show Cognitive Bias Modifcation Therapy (CBMT)</a>
        <a href ng-click="board.showCBMT = !board.showCBMT" ng-show="board.showCBMT">Hide Cognitive Bias Modifcation Therapy (CBMT)</a>
        <div ng-show="board.showCBMT">
          <h1>Cognitive Bias Modification Therapy (CBMT)</h1>
          <h2>Social Anxiety Disorder</h2>

          <div ng-show="board.showFirstDayOfClass">
            <div><img src="first-day-of-class.jpg" alt="First Day of Class" width="400px"></div>
            <div class="cbmt-text">On the first day of class, your new instructor asks everyone to say their name and something interesting about themselves. As your turn approaches you feel...</div>
            <div class="next" ng-click="board.showFirstDayOfClass = !board.showFirstDayOfClass">Next</div>
          </div>

          <div ng-hide="board.showFirstDayOfClass">
            <img src="wedding-reception.jpg" alt="Wedding Reception Toast" width="400px">
            <div class="cbmt-text">At your best friend's wedding reception you toast the bride and groom. As you begin your speech the audience laughs because...</div>
            <div class="next" ng-click="board.showFirstDayOfClass = !board.showFirstDayOfClass">Next</div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="routes.js"></script>
  <script type="text/javascript" src="TicTacToeController.js"></script>
  <script type="text/javascript" src="CBMTController.js"></script>
  <script type="text/javascript" src="PresenceController.js"></script>
</body>
</html>
